<%

function outputMessage(id, message) {
%>
<li><span class="posting"><span class="subject"><%if(message.category != "") { %><strong class="category"><span class="tn braces">(</span><% out(message.category); %><span class="tn braces">)</span></strong><% } %> <a href="<% out(id + '/' + message.id); %>" class="title"><strong><% out(message.subject); %></strong></a></span> <span class="tn by">von</span> <span class='author'><% out(message.author.name); %></span><span class="tn">,</span> <span class="date"><% out(moment(message.date).format("DD.MM.YYYY, HH:mm")); %></span></span>
<%
  if(message.messages.length > 0) { %>
    <ul>
<%    for(var i = 0; i < message.messages.length; ++i) {
      outputMessage(id, message.messages[i]);
    } %>
    </ul>
<%  }
%>  </li>
<% }

thread = _v("thread");

if(thread) {
  outputMessage(thread.id, thread.messages[0]);
}

%>
