config = {
  'system': {
    'urls': {
      'base': 'http://localhost/cforum/htdocs'
    },
    'modules': ['libcf_threadlist_controller.so'],
    'modpath': '/usr/lib/cforum/',
    'views-js': {
      'internal': '/etc/cforum/views.js',
      'moment': '/etc/cforum/moment.js'
    }
  },

  'mongodb': {
    'host': 'localhost',
    'database': 'selfhtml'
  }
};

config;
