config = {
  'system': {
    'modules': ['libcf_threadlist_controller.so'],
    'modpath': '/usr/lib/cforum/',
    'views-js': '/etc/cforum/views.js'
  },

  'mongodb': {
    'host': 'localhost',
    'database': 'selfhtml'
  }
};

config;
