--
-- Classic Forum configuration file
--

CForum:set_value('ModulePath',"/usr/lib/cforum/");
CForum:set_value('Forums',{"FORUM1","FORUM2","FORUM3"});

context = CForum:create_context("FORUM1");
context:set_value("MessagePath", "/var/cforum/messages/forum1/");
context:set_value("ArchivePath", "/var/cforum/archive/forum1/");
context:set_value("MainFileMaxBytes",250000);    -- start archiving at 250k bytes
context:set_value("MainFileMaxPostings", 2000);  -- max number of postings before archiver starts
context:set_value("MainFileMaxThreads", 150);

context = CForum:create_context("fo_server")
context:set_value("AuthNames", "/var/cforum/registered_names_forum1.db")
context:set_value("Socket", "/tmp/cforum.sock")
context:set_value("RunArchiver", 1800)

context:set_value("MinThreads", 5)
context:set_value("SpareThreads", 5)
context:set_value("MaxThreads", 120)

context:set_value("UserGroup", {"ckruse", "users"})

context:set_value("Chroot","/home/ckruse/tmp/cforum/chroot/")
context:set_value("PIDFile", "/var/run/cf_pid")
context:set_value("LogMaxSize", 2097152)

context:set_value("ErrorLog", "/var/log/cf_errors")
context:set_value("StdLog", "/var/log/cf_stdlog")

-- eof