#
# This is the Classic Forum configuration file
# Configuration is done via small LUA scripts
#

ModulePath "/usr/lib/cforum/"

Forums ["FORUM1","FORUM2","FORUM3"]

<Forum "FORUM1">
  MessagePath "/var/cforum/messages/forum1/"
  ArchivePath "/var/cforum/archive/forum1/"
  MainFileMaxBytes 250000    # start archiving at 250k bytes
  MainFileMaxPostings 2000   # max number of postings before archiver starts
  MainFileMaxThreads 150
</Forum>

#
# server options
#

AuthNames "/var/cforum/registered_names_forum1.db"
Socket "/tmp/cforum.sock"
RunArchiver 1800

MinThreads 5
SpareThreads 5
MaxThreads 120

UserGroup ["ckruse", "users"]

Chroot "/home/ckruse/tmp/cforum/chroot/"
PIDFile "/var/run/cf_pid"
LogMaxSize 2097152

ErrorLog "/var/log/cf_errors"
StdLog "/var/log/cf_stdlog"

Include "another_file.conf"

# eof